[submodule "thirdparty/TransUNet"]
	path = thirdparty/TransUNet
	url = git@github.com:ForceLightning/TransUNet.git
[submodule "thirdparty/FLA-Net"]
	path = thirdparty/fla_net
	url = git@github.com:ForceLightning/FLA-Net.git
