[submodule "thirdparty/TransUNet"]
	path = thirdparty/TransUNet
	url = https://github.com/ForceLightning/TransUNet.git
[submodule "thirdparty/FLA-Net"]
	path = thirdparty/fla_net
	url = https://github.com/ForceLightning/FLA-Net.git
[submodule "thirdparty/vivim"]
	path = thirdparty/vivim
	url = https://github.com/ForceLightning/Vivim.git
[submodule "thirdparty/VPS"]
	path = thirdparty/VPS
	url = https://github.com/ForceLightning/VPS.git
[submodule "thirdparty/AFB-URR"]
	path = thirdparty/AFB_URR
	url = https://github.com/ForceLightning/AFB-URR.git
