[submodule "thirdparty/TransUNet"]
	path = thirdparty/TransUNet
	url = git@github.com:ForceLightning/TransUNet.git
[submodule "thirdparty/FLA-Net"]
	path = thirdparty/fla_net
	url = git@github.com:ForceLightning/FLA-Net.git
[submodule "thirdparty/vivim"]
	path = thirdparty/vivim
	url = git@github.com:ForceLightning/Vivim.git
[submodule "thirdparty/VPS"]
	path = thirdparty/VPS
	url = git@github.com:ForceLightning/VPS.git
[submodule "thirdparty/AFB-URR"]
	path = thirdparty/AFB_URR
	url = git@github.com:ForceLightning/AFB-URR.git
