[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = { index = "downloadpytorch"}
torchvision = { index = "downloadpytorch"}
tqdm = "*"
pillow = "*"
numpy = "*"
segmentation-models-pytorch = "*"
warmup-scheduler = "*"
torchsummary = "*"
matplotlib = "*"
seaborn = "*"
lightning = { extras = ["pytorch-extra"] }
tensorboard = "*"
rich = "*"
deepspeed = "*"
jsonargparse = {extras = ["argcomplete", "typing-extensions", "omegaconf", "signatures"], version = "*"}
opencv-contrib-python-headless = {file = "../opencv-python/opencv_contrib_python_headless-4.10.0.84-cp312-cp312-linux_x86_64.whl"}

[dev-packages]
autopep8 = "*"
ipykernel = "*"
pynvim = "*"
black = "*"
pre-commit = "*"
debugpy = "*"
basedpyright = "*"
onnx = "*"
onnxscript = "*"
seaborn = "*"
viztracer = "*"
ruff = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.12"

[prototyping]
jupyter = "*"
ipython = "*"
widgetsnbextension = "*"
ipywidgets = "*"
ipykernel = "*"
ipympl = "*"

[docs]
sphinx = "*"
sphinx-autodoc2 = "*"
sphinx-rtd-theme = "*"
