[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = { index = "downloadpytorch"}
torchvision = { index = "downloadpytorch"}
tqdm = "*"
pillow = "*"
numpy = "*"
segmentation-models-pytorch = "*"
warmup-scheduler = "*"
torchsummary = "*"
matplotlib = "*"
seaborn = "*"
opencv-contrib-python = "*"
lightning = {  extras = ["pytorch-extra"] }
tensorboard = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
ipykernel = "*"
pynvim = "*"
black = "*"
pre-commit = "*"
debugpy = "*"
basedpyright = "*"
onnx = "*"
onnxscript = "*"

[requires]
python_version = "3.12"
