[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
tqdm = "*"
pillow = "*"
numpy = "*"
segmentation-models-pytorch = "*"
warmup-scheduler = "*"
torchsummary = "*"
matplotlib = "*"
seaborn = "*"
opencv-contrib-python = "*"
lightning = { version = "*", extras = ["pytorch-extra"] }
tensorboard = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
ipykernel = "*"
pynvim = "*"
black = "*"
pre-commit = "*"
debugpy = "*"
basedpyright = "*"

[requires]
python_version = "3.12"
